/* @import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Be Vietnam Pro", sans-serif;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: clamp(41px, 6vw, 56px);
  position: relative;

  .container {
    width: 1110px;
    max-width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      width: clamp(110.5px, 40%, 145px);
    }

    nav {
      display: flex;
      gap: 32px;
      @media screen and (max-width: 992px) {
        display: none;

        a {
          font-weight: 500;
          font-style: Medium;
          font-size: 13px;
          line-height: 145%;
          letter-spacing: 0px;
          color: #242d52;
        }
      }
    }

    button {
      width: 137px;
      border-radius: 22px;
      background-color: #f3603c;
      box-shadow: 0px 15px 15px -10px #ff9f8e;
      font-weight: 700;
      font-size: 13px;
      line-height: 145%;
      letter-spacing: 0px;
      vertical-align: middle;
      color: #ffffff;
      padding: 16px 32px;
      border: 0;
      @media screen and (max-width: 767px) {
        display: none;
      }
    }
  }
  #rect {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
  #Group {
    width: 25px;
    height: 18px;
    opacity: 1;
    color: #242d52;
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
}
#heroSection {
  width: 100%;
  height: 100vh;
  display: flex;
  margin-top: clamp(56px, 12vw, 120px);
  justify-content: center;
  .container {
    width: 1110px;
    height: 50vh;
    max-width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 20;

    .left {
      width: 50%;
      height: 100%;

      h1 {
        width: 445px;
        font-weight: 700;
        font-style: Bold;
        font-size: clamp(40px, 4vw, 54px);
        line-height: 115%;
        letter-spacing: -1px;
        color: #242d52;
        margin-bottom: 16px;
      }
      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 163%;
        letter-spacing: 0px;
        color: #242d52;
        margin-bottom: 40px;
        width: 445px;
        max-width: 100%;
      }
      button {
        width: 137px;
        border-radius: 22px;
        background-color: #f3603c;
        box-shadow: 0px 15px 15px -10px #ff9f8e;
        font-weight: 700;
        font-size: 13px;
        line-height: 145%;
        letter-spacing: 0px;
        vertical-align: middle;
        color: #ffffff;
        padding: 16px 32px;
        border: 0;
        @media screen and (max-width: 767px) {
          display: none;
        }
      }
    }
  }
  .right {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #f3603c;

    .leftContainer {
      width: 260px;
      height: 235px;
      opacity: 1;
      left: 570px;
      padding: 16px 13px;

      img {
        width: 230px;
        height: 202px;
        opacity: 1;
        top: 16.21px;
        left: 586.21px;
      }
    }
    .rightContainer {
      width: 260px;
      height: 235px;
      opacity: 1;
      left: 850px;
      border-radius: 4px;
    }
  }
}
